@import '../../variables.scss';

.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;

  .searchFormInput {
    height: 40px;
    width: 40%;
    padding: 10px 0;
    font-size: 1rem;
    border-width: 0 0 2px 0;
    border-color: $white;
    border-style: solid;
    background: $main;
    color: $white;
    outline: none;
    &::placeholder {
      color: $white;
      opacity: 0.5;
    }
  }

  .searchFormButton {
    background-color: $white;
    color: $main;
    font-weight: bold;
    font-size: 1rem;
    height: 40px;
    width: 100px;
    margin-left: 10px;
  }
}
