@import './variables.scss';

:global {
  @import url('https://fonts.googleapis.com/css?family=Raleway');

  html,
  body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    background: $main;
    font-size: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  main {
    padding: 30px 20px;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $white;
  }
}
